.main-container {
  /*border: 1px solid red;*/
  width: 70%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.content-data {
  /*border: 1px solid brown;*/
  background-color: var(--bg-card);
  width: 100%;
  height: 300px;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.content-data > h1 {
  font-size: 20px;
  color: var(--color-h1);
}
