/* RESET ALL DEFAULT STYLES */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

:root {
  --color-vermelho: #ff2323;
  --color-branco: #fff;
  --color-h1: #6f6f6f;
  --bg-body: #dadada;
  --bg-card: #ffffff;
}

body {
  background-color: var(--bg-body);
  font-family: sans-serif;
}
